<!DOCTYPE html>
<html>
	<head>
	<meta charset="ISO-8859-1">
		<title>Covid Simulator</title>
		
		 <link href = "webjars/bootstrap/4.6.0/css/bootstrap.min.css" rel = "stylesheet">
		 
	</head>

	<body>
		<nav class="navbar navbar-light" style="background-color: #6DBAD8;">
			<span class="navbar-brand mb-0 h1">Covid Simulator</span>
			
			<div id="navbarNav">
			    <ul class="navbar-nav">
			      <li class="nav-item active">
			        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
			      </li>
			    </ul>
			 </div>
		</nav>
		
		<div class="jumbotron container">
			<h1 class="display-4">Welcome!</h1>
			<p class="lead">This is a Covid simulator! This website will allow you to simulate different scenarios so as to take measures and prevent this virus from spreading.</p>
			
			<hr class="my-4">
			
			<p>Click on the button below to start the simulation!</p>
			<a class="btn btn-primary btn-lg" href="#" role="button">Simulation</a>
		</div>
		
		
		<script src = "webjars/jquery/3.5.1/jquery.min.js"></script>
		<script src = "webjars/bootstrap/4.6.0/js/bootstrap.min.js"></script>
	</body>
</html>