<!DOCTYPE html>
<html>
	<head>
	<meta charset="ISO-8859-1">
		<title>Covid Simulator</title>
		
		 <link href = "webjars/bootstrap/4.6.0/css/bootstrap.min.css" rel = "stylesheet">
		 <link href = "style.css" rel = "stylesheet">
		 
	</head>

	<body>
		<nav class="navbar navbar-light" style="background-color: #6DBAD8;">
			<a class="Menu" href='#'>Covid Simulator</a>
		</nav>
		
		<div>
			<div class="jumbotron">
				<h1 class="display-4" style="text-align:center">Welcome!</h1>
				<p class="lead" style="text-align:center">This is a Covid simulator! This website will allow you to simulate different scenarios so as to take measures and prevent this virus from spreading.</p>
				
				<hr class="my-4">
				
				<div class = "button-center">
					<a class="btn btn-primary btn-lg button-center" href="#" role="button">Start simulation</a>
				</div>
			</div>
		</div>
		
		<div class = "container">
			<h4 style="text-align:center">FEATURES</h4>
			<table class = "Features">
				<tr>
					<td>
						<div class="card" style="width: 18rem;">
						  <img src="Img/Parameters2.jpg" class="card-img-top" alt="Parameters2.jpg">
						  <div class="card-body">
						    <h5 class="card-title">Parameters</h5>
						    <p class="card-text">Enter parameters to adjust the simulation to your preference and needs.</p>
						  </div>
						</div>
					</td>
					<td>
						<div class="card" style="width: 18rem;">
						  <img src="Img/restrictions2.jpg" class="card-img-top" alt="restrictions2.jpg">
						  <div class="card-body">
						    <h5 class="card-title">Restrictions</h5>
						    <p class="card-text">Select the different possible restrictions for different simulations.</p>
						  </div>
						</div>
					</td>
					<td>
						<div class="card" style="width: 18rem;">
						  <img src="Img/results.jpg" class="card-img-top" alt="results.jpg">
						  <div class="card-body">
						    <h5 class="card-title">Save results</h5>
						    <p class="card-text">Save your results for future analysis, comparison, or whatever you need.</p>
						  </div>
						</div>
					</td>
				</tr>
			</table>
		</div>
		
		
		<script src = "webjars/jquery/3.5.1/jquery.min.js"></script>
		<script src = "webjars/bootstrap/4.6.0/js/bootstrap.min.js"></script>
	</body>
</html>